{#<html>#}
{#<head>#}
{#    <title>Contact us</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Contact us</h1>#}
{#                <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>#}
{#                <script type="text/javascript">#}
{#                    var myCenter=new google.maps.LatLng(50.4500, 30.5200);#}
{#                    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';#}
{#                    window.onload = function () {#}
{#                        var mapOptions = {#}
{#                            center: myCenter,#}
{#                            zoom: 10,#}
{#                            mapTypeId: google.maps.MapTypeId.ROADMAP,#}
{#                        };#}
{#                        var infoWindow = new google.maps.InfoWindow();#}
{#                        var latlngbounds = new google.maps.LatLngBounds();#}
{#                        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);#}
{#                        google.maps.event.addListener(map, 'click', function (e) {#}
{#                            var x = e.latLng.lat();#}
{#                            var y = e.latLng.lng();#}
{#                            document.getElementById("lat").value = x;#}
{#                            document.getElementById("lng").value = y;#}
{#                            var marker = new google.maps.Marker({#}
{#                            position: {lat: x, lng: y},#}
{#                            animation:google.maps.Animation.BOUNCE,#}
{#                        });#}
{#                            marker.setMap(map);#}
{#                        });#}
{#                        google.maps.event.addListener(map, 'rightclick', function (e) {#}
{#                            var x = e.latLng.lat();#}
{#                            var y = e.latLng.lng();#}
{#                            document.getElementById("lat2").value = x;#}
{#                            document.getElementById("lng2").value = y;#}
{#                            var marker = new google.maps.Marker({#}
{#                            position: {lat: x, lng: y},#}
{#                            animation:google.maps.Animation.BOUNCE,#}
{#                        });#}
{#                            marker.setMap(map);#}
{#                        });#}
{#                    }#}
{##}
{#                    </script>#}
{#                    <div id="dvMap" style="width: 500px; height: 500px">#}
{#                        <div id="dvMap"></div>#}
{#                    </div>#}
{#        <label>#}
{#            <br>#}
{#            Begin:#}
{#            <input type="text" id="lat" name="C" readonly="readonly"/>#}
{#        <input type="text" id="lng" name="d" readonly="readonly"/>#}
{#        </label>#}
{#        <br>#}
{#        <br>#}
{#        <label>#}
{#            End:#}
{#            <input type="text" id="lat2" name="C" readonly="readonly"/>#}
{#            <input type="text" id="lng2" name="d" readonly="readonly"/>#}
{#        </label>#}
{#    </form>#}
{#</body>#}
{#</html>#}
{##}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
// In the following example, markers appear when the user clicks on the map.
// Each marker is labeled with a single alphabetical character.

    var index_right = [];
    var index_left = [];
    var markers = [];
    var x1 = [];
    var y1 = [];
    var x2 = [];
    var y2 =[];
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;


    function initialize() {
        var bangalore = {lat: 50.4500, lng: 30.5200};
        directionsDisplay = new google.maps.DirectionsRenderer();


        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: bangalore
        });
        directionsDisplay.setMap(map);
{#        google.maps.event.addDomListener(document.getElementById('routebtn'), 'click', calcRoute);#}
{#        google.maps.event.addDomListener(document.getElementById('deletebtn'), 'click', deleteMarkers);#}

        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function (event) {
            if (index_left == 1) {
            }
            else {
                addMarker(event.latLng, map, start = true);
                index_left++;
                var x = event.latLng.lat();
                var y = event.latLng.lng();
                x1.push(x);
                y1.push(y);
                document.getElementById("lat").value = x;
                document.getElementById("lng").value = y;
            }
        });

        google.maps.event.addListener(map, 'rightclick', function (event) {
            if (index_right == 1) {
            }
            else {
                addMarker(event.latLng, map, start = false);
                index_right++;
                var x = event.latLng.lat();
                var y = event.latLng.lng();
                x2.push(x);
                y2.push(y);
                document.getElementById("lat2").value = x;
                document.getElementById("lng2").value = y;
            }
        });
    }

    var getMarkerUniqueId = function (lat, lng) {
        return lat + '_' + lng;
    };

    var removeMarker = function (marker, markerId) {
        marker.setMap(null); // set markers setMap to null to remove it from map
        delete markers[markerId]; // delete marker instance from markers object
    };


// Adds a marker to the map.
    function addMarker(location, map, start) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var markerId = getMarkerUniqueId(lat, lng);
        if (start) {
            var marker = new google.maps.Marker({
                position: location,
                label: 'A',
                map: map,
                id: 'marker_' + markerId
            });
        }
        else {
            var marker = new google.maps.Marker({
                position: location,
                label: 'B',
                map: map,
                id: 'marker_' + markerId
            });
        }
        markers.push(marker)
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    function clearMarkers() {
        setMapOnAll(null);
    }

    function deleteMarkers() {
        clearMarkers();
        markers = [];
        index_right = [];
        index_left = [];
        directionsDisplay.setMap(null);
    }

    function calcRoute() {
        var start = new google.maps.LatLng(x1[0], y1[0]);
        var end = new google.maps.LatLng(x2[0], y2[0]);
        var bounds = new google.maps.LatLngBounds();
        console.log(start);
        console.log(end);
        bounds.extend(start);
        bounds.extend(end);
        map.fitBounds(bounds);
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                directionsDisplay.setMap(map);
            } else {
                alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
            }
            clearMarkers();
        });
    }
   google.maps.event.addDomListener(window, 'load', initialize);



    </script>
  </head>
  <body>
  <div id="map" style="width: 500px; height: 500px">
      <div id="map"></div>
  </div>
  <div id="floating-panel">
      <input onclick="deleteMarkers();" type=button value="Delete Markers">
      <input onclick="calcRoute();" type=button value="Calculate Route">
  </div>
  <label>
      <br>
            Begin:
      <input type="text" id="lat" name="C" readonly="readonly"/>
      <input type="text" id="lng" name="d" readonly="readonly"/>
  </label>
       <br>
       <br>
  <label>
            End:
       <input type="text" id="lat2" name="C" readonly="readonly"/>
       <input type="text" id="lng2" name="d" readonly="readonly"/>
  </label>
  </body>
</html>